ul{
	list-style:none;
	margin:0;
	padding:0;
}
#apt {
	display: flex;
	height:15vh;
	padding: 10px 0;
}
img{
	border-radius: 5px;
	margin-right: 10px;
}
em{
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 5px;
}
p{
	font-size: 11px;
	padding: 5px 0;
}

.check_box{
	overflow-y:scroll;
	height:50vh;
	min-width: 100%;
	margin: 0 auto;
}

.check_box > li{
	width: 100%;
	height: 50px;
	font-size: 13px;
	padding: 0 15px;
	box-sizing: border-box;
	border-radius: 5px;
	line-height: 50px;
	margin-bottom: 10px;
	position: relative;
	border: 1px solid #656565;
	color: #656565;
}
.check_box > li[active='true']{
	color: #c2c2c2;
	border: 1px solid #c2c2c2;
}
.check_box > li[active='true']:after{
	font-family: xeicon!important;
	content: "\e9c7";
	color: #ddd;
}
.check_box > li:after{
	font-family: xeicon!important;
	content: "\e9c6";
	font-size: 16px;
	position: absolute;
	right: 15px;
	color: #656565;
}
