@charset "UTF-8";
@keyframes fadeIn {
	from {
		opacity: 0;
		transform:translate(0px, 0px);
	}
	to {
		opacity: 3;
		transform: none;
	}
}
.cocoButtomSheet{
	width:100%;
	height:100%;
	position: fixed;
	top: 100%;
	right:0;
	background-color:#fff;
	padding: 3rem 2rem 2rem;
	-webkit-transform: translate(0px, -100px);
	transform: translate(0px, -100px);
	-webkit-transition: all 300ms;
	transition: all 300ms;
	border-radius: 1.2rem 1.2rem 0 0;
	-webkit-box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.4);
	box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	animation: fadeIn 0.4s ease-in-out;
}
.cocoButtomSheetforbounse{
	position:fixed;
	overflow:hidden;
}
.cocoButtomSheet > .cocoButtomSheet_handle{
	margin:0;
	font-size: 0;
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 100%;
	height: 3rem;
	cursor: pointer;
	color: transparent;
	border: none;
	background-color: transparent;
}
.cocoButtomSheet > .cocoButtomSheet_handle:before{
	display: block;
	width: 3.6rem;
	height: 0.4rem;
	content: '';
	pointer-events: none;
	border-radius: 0.4rem;
	background-color: #e9e9e9;
}
.cocoButtomSheet_overlayer{
	width:100%;
	height:100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.4);
	top:0;
	left:0;
}

@media(min-width: 768px){
	.cocoButtomSheet{
		width:25rem;
		right:1rem;
	}
}